/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #4b4bf5;
}

/* Header con animación multicolor */
header {
    background: linear-gradient(270deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #2b65ff, #8000ff, #ff0080);
    background-size: 1500% 1500%;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: gradientAnimation 10s ease infinite;
}

header h1 {
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #3884f7;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* Main */
main {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

section {
    margin-bottom: 20px;
}

article {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

article h2 {
    margin: 0 0 10px;
}

/* Aside */
aside {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

aside h3 {
    margin-top: 0;
}

aside ul {
    list-style: square;
    padding-left: 20px;
}

/* Footer con animación multicolor */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(270deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #2b65ff, #8000ff, #ff0080);
    background-size: 1500% 1500%;
    color: #fff;
    margin-top: 20px;
    animation: gradientAnimation 10s ease infinite;
}

footer a {
    color: #00aced;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
